/*Font*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format(woff2),
       url(../fonts/roboto.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format(woff2),
       url(../fonts/robotomedium.woff) format(woff);
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format(woff2),
       url(../fonts/robotobold.woff) format(woff);
  font-weight: 700;
  font-style: bold;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --blackgreen: #283136;
  --darkgrey: #A6A6A6;
  --redpink: #FB565A;
  --blackgrey: #666666;
  --blackdarkgrey: #444444;
  --grey: #E1E1E1;
  --lightgrey: #EEEEEE;
  --blacklight: #4D4D4D;
  --blackbrown: #231F20;
  --red: #E74246;
  --reddark: #D7373B;
  --greenlight: #00CA74;
  --green: #00BC6C;
  --greendark: #00AA62;
  --orangelight: #EFC849;
  --ogange: #EAB534;
  --orangedark: #E5A722;
  --greymidle: #E1E1E1;
  --lightgreyblue: #D7DCDE;
  --darkgreyblue: #B4B8BB;
  --lightgreybrown: #DFDFDF;
  --darkgreybrown: #D5D5D5;
  --midlegreybrown: #DBDBDB;
  --greygrey: #C1C1C1;
  --lightgreygreenblue: #D7DCDF;
  --darkgreyred: #ABABAB;
  --greyred: #C4C4C4;
  --darkgreylightblue: #B4B9BB;
}

/*Global*/

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--blackgreen);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 140px 0px;
}

.grey-bkg {
  background-color: var(--lightgrey);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--basic-black);
}

a:visited {
  border-bottom: 2px solid #FB565A;
  padding-bottom: 13px;
}

a:hover {
  color: var(--redpink);
}

a:active {
  color: var(--basic-black);
  opacity: 30%;
}

img {
  max-width: 100%;
}

.button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  min-height: 50px;
  color: var(--basic-white);
  background-color: var(--redpink);
  text-transform: uppercase;
  border-radius: 3px;
  border: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: var(--red);
}

.button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--reddark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page {
  height: 100%;
}

/*Visually-hidden*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Header-navigation*/

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 50px 0px 0px 0px;
}

/*Header-navigation-logo*/

.header-navigation-logo {
  width: 160px;
  height: 65px;
  cursor: pointer;
}

.header-navigation-logo:hover {
  opacity: 70%;
}
.header-navigation-logo:active {
  opacity: 30%;
}

/*Site-navigation*/

.site-navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px 0px;
}

.site-navigation-item {
  margin-left: 45px;
}

.site-navigation-item-catalog {
  border-bottom: 2px solid #FB565A;
  padding-bottom: 13px;
}

/*Basket*/

.basket {
  display: flex;
}

.site-navigation-basket {
  margin-left: 25px;
}

.site-navigation-basket-img {
  cursor: pointer;
}

/*Proposal*/

.proposal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Proposal-text*/

.proposal-text {
  width: 400px;
} 

/*Proposal-credo*/

.proposal-credo {
  grid-column: 1 / 2;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.proposal-info {
  min-height: 50px;
}

.proposal-button {
  background-color: var(--redpink);
  width: 240px;
  margin: 20px 0px 80px;
}

/*Proposal-foto*/

.proposal-foto {
  grid-column: 2 / -1;
  width: 760px;
  height: 431px;
}

/*Slide*/

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list {
  padding-left: 0px;
  margin: 0px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}   

/*Slider-button*/

.slider-buttons {
  z-index: 1;
  display: flex;
  width: 88px;
  justify-content: space-between;
  background-color: transparent;
  margin-top: -225px;
  margin-right: -5px;
  align-self: center;
}

/*Slide-button*/

.slide-button {
  padding: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-circle-current {
  padding: 0px;
  margin: 5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}

/*Products-group*/

.products-group {
  position: relative;
}

.products-group-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0px;
  margin: 80px 0px 40px;
}

.products-group-item {
  display: flex;
  flex-direction: column;
}

.products-group-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 0px;
}

.products-group-item-img {
  order: -1;
}

.products-group-item-info {
  width: 260px;
}

/*Button-group*/

.button-group {
  width: 160px;
  margin-bottom: 40px;
}

.button-applications {
  background-color: var(--greenlight);
}

.button-applications:hover {
 background-color: var(--green);
}

.button-applications:active {
  background-color: var(--greendark);
}

.button-presentations {
  background-color: var(--orangelight);
}

.button-presentations:hover {
  background-color: var(--ogange);
}

.button-presentations:active {
  background-color: var(--orangedark);
}

/*About*/

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--lightgrey);
  top: -25px;
}

.about-info {
  width: 651px;
}

.about-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin: 45px 0px 51px;
}

.about-basics {
  margin-bottom: 32px;
}

.about-us-do {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.about-us-work {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 37px 0px 31px;
}

.order-list {
  margin-bottom: 16px;
}

.order-item {
  list-style-type: none;
  background: url(../img/line-item.jpg) no-repeat left center;
  margin-left: -40px;
  padding-left: 40px;
}

/*Statistic*/

.statistic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
}

/*About-table*/

.about-table {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
}

.sup {
  vertical-align: super;
  font-size: 24px;
}

.about-table-efficiency {
  grid-row: 1 / 2;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-table-text {
  grid-row: -1 / -2;
  margin: 0px;
}

/*Partners*/

.partners-list {
  padding: 40px 0;
  margin: 70px 0px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/*Partners-item*/

.partners-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 20%;
}

.partners-item:hover {
  opacity: 100%;
}

.partners-item:active {
 opacity: 10%;
}

.partners-item-line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--lightgrey);
  left: 0px;
}

/*Footer*/

.map-bkg {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 416px;
}

.footer-contacts {
  display: flex;
  padding: 0px;
}

/*Footer-map*/

.footer-map {
  width: 220px;
  height: min-content;
  background-color: var(--basic-white);
  margin-top: 50px;
  margin-left: 140px;
  padding: 50px;
}

/*Footer-contacts-map-marker*/

.footer-contacts-map-marker {
  margin-top: 85px;
  margin-left: 360px;
}

/*Footer-contacts*/

.footer-contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 0px;
}

.footer-contacts-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
}

.footer-contacts-button {
  background-color: var(--redpink);
  margin-top: 30px;
  width: 219px;
  height: 50px;
}

/*Footer-social*/

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  height: min-content;
}

.footer-social-icon {
  width: 270px;
  align-items: center;
  margin-right: 140px;
  margin-top: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
  margin: 40px 10px;
}

.footer-social-item {
  margin-bottom: 5px;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--grey);
}

.footer-social-button:hover {
  background-color: var(--red);
}

.footer-social-button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--reddark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-bonus {
  width: 750px;
}

.footer-post {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--blackdarkgrey);
}

/*Modal*/

.modal {
  display: none;
  width: 960px;
  min-height: 590px;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  bottom: 100%;
  left: 50%;
}

.modal-wrp {
  padding: 65px 100px 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  
}

.modal-show {
  display: block;
  animation: bounce 0.9s;
  transform: translate(-50%, 100%);
}

.modal-error {
  animation: shake;
}

.modal-letter {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-close {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  border: transparent;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
  border: transparent;
}

.modal-close:active {
  opacity: 0.1;
  border: transparent;
}

.modal-info {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 40px;
  row-gap: 37px;
}

.modal-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px;
}

.modal-email {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.modal-email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px;
}

.modal-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.modal-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px;
}

.modal-info-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-info-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackdarkgrey);
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  margin-top: 10px;
  padding: 15px;
}

.modal-info-text:visited:focus {
  color: rgba(68,68,68,1);
  border-color: var(--basic-black);
}

.modal-info-text:hover {
  color: rgba(68,68,68,0.5);
  border-color: var(--darkgreylightblue);
}

.modal-info-text:invalid {
  color: rgba(231,66,70,1);
  border-color: var(--red);
}

.modal-info-text-letter {
  height: 108px;
  font-family: inherit;
  font-style: inherit;
  font-weight:inherit;
}

.modal-button {
  grid-row: -1 / -2;
  background-color: var(--redpink);
  width: 250px;
  margin-top: 10px;
}

/*Modal-Animation*/

@keyframes bounce {
  0% {
    transform: translate(-50%, 0%);
  }

  70% {
    transform: translate(-50%, 70%);
  }

  90% {
    transform: translate(-50%, 50%);
  }

  100% {
    transform: translate(-50%, 100%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*Page-catalog*/

.page-catalog {
  display: grid;
  grid-template-rows: min-content 1fr;
}

/*Header-pagename*/

.header-pagename {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--lightgrey);
  padding: 78px 300px 108px;
  margin: 0px;
}
  
/*Catalog-products*/

.catalog-products {
  display: grid;
  grid-template-columns: min-content 1fr;
}

/*Our-products*/

.our-products {
  grid-column: 1 / 2;
  width: 260px;
  margin-right: 127px;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.filter-type-cost {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-bottom: 48px;
}

/*Range-cost*/

.range-cost {
  width: 260px;
  border-radius: 3px;
  margin-bottom: 14px;
}

.range-controls {
 height: 41px;
 border-radius: 3px;
 background-color: var(--lightgrey);
 margin-bottom: 14px;
 padding-top: 39px;
 padding-right: 20px;
 padding-left: 20px;
 position: relative;
}

.range-controls .csale {
  width: 216px;
  height: 2px;
  background-color: var(--lightgreygreenblue);
}

.range-cost .bar {
  width: 70%;
  height: 2px;
  background-color: var(--greenlight);
}

.range-cost .toggle {
  width: 4px;
  height: 4px;
  padding: 0px;
  background-color: var(--darkgreyred);
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 30px;
  left: 0px;
  cursor: pointer;
}

.range-cost .toggle-min {
  left: 18px;
}

.range-cost .toggle-max {
  left: 160px;
}

.filter-type-price {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-type-grid {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-type-design{
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-button {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-type-sort {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0px;
}

/*Our-products-filter*/

.our-products-filter {
  grid-column: 2 / 3;
  margin-top: 55px;
}

/*Filter*/

.filter {
  border: none;
  padding-left: 0px;
  margin-bottom: 10px;
}

.filter-cost {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  border: none;
  display: flex;
  flex-direction: column;
}

.filter-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter fieldset:first-child {
  margin-bottom: 18px;
}

.filter-type-price {
  display: flex;
  justify-content: space-between;
}

.filter-type-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--blackgreen);
}

.filter-type-price input {
  font-size: inherit;
  font-family: inherit;
  width: 80px;
  height: 38px;
  margin-left: 11px;
  text-align: center;
  color: inherit;
  border: none;
  border-radius: 3px;
  background-color: var(--lightgrey);
}

.filter-type-item {
  list-style-type: none;
  margin-bottom: 18px;
  margin-left: 5px;
}

.filter-type-item:disabled {
  opacity: 0.3;
}

.filter-type-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*Ffilter-input-radio*/

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -41px;
  width: 21px;
  height: 21px;
  border: 4px solid #4D4D4D;
  border-radius: 50%;
  opacity: 40%;
}


.filter-input-radio + label::before:hover:focus {
  opacity: 99%;
}

.filter-input-radio:checked + label::before:hover:focus {
  opacity: 99%;
}

.filter-input-radio + label::before:disabled {
  opacity: 10%;
}

.filter-input-radio:checked + label::before:disabled {
  opacity: 10%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  width: 11px;
  height: 11px;
  background-color: var(--blacklight);
  border-radius: 50%;
  opacity: 99%;
}

.filter-input-radio + label::after:hover:focus {
  opacity: 99%;
}

.filter-input-radio:checked + label::after:hover:focus {
  opacity: 99%;
}

.filter-input-radio + label::after:disabled {
  opacity: 10%;
}

.filter-input-radio:checked + label::after:disabled {
  opacity: 10%;
}

/*Filter-input-checkbox*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -41px;
  width: 21px;
  height: 21px;
  border: 2px solid #4D4D4D;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox + label::before:hover:focus {
  opacity: 99%;
}

.filter-input-checkbox:checked + label::before:hover:focus {
  opacity: 99%;
}

.filter-input-checkbox + label::before:disabled {
  opacity: 10%;
}

.filter-input-checkbox:checked + label::before:disabled {
  opacity: 10%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -37px;
  width: 21px;
  height: 17px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::after:hover:focus {
  opacity: 99%;
}

.filter-input-checkbox:checked + label::after:hover:focus {
  opacity: 99%;
}

.filter-input-checkbox + label::after:disabled {
  opacity: 10%;
}

.filter-input-checkbox:checked + label::after:disabled {
  opacity: 10%;
}

/*Filter-button*/

.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--lightgrey);
  width: 260px;
  margin: 3px 0px 60px;
}

.filter-button:hover {
  background-color: var(--lightgreybrown);
}

.filter-button:active {
  color: rgba(0,0,0,0.3);
  background-color: var(--darkgreybrown);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Filter-products-sort*/

.filter-products-sort {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.filter-products-sort-group{
  display: flex;
  flex-wrap: wrap;
}

.filter-products-sort-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 490px;
  margin: 0px;
}

.filter-products-sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 25px;
  align-items: center;
  opacity: 30%;
  cursor: pointer;
} 

.filter-products-sort-price {
  opacity: 99%;
}

.filter-products-sort-item:visited {
  color: rgba(0,0,0,1);
}

.filter-products-sort-item:hover {
  color: rgba(0,0,0,1);
  opacity: 60%;
}

.filter-products-sort-item:active {
  color: rgba(0,0,0,1);
}

/*Filter-products-sort-button*/

.filter-products-sort-button {
  margin-left: 47px;
  display: flex;
  align-items: center;
  height: 45px;
}

.filter-products-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  color: var(--darkgrey);
  opacity: 20%;
}

.button-big {
  color: var(--blackbrown);
  opacity: 99%;
}

.button-small {
  color: var(--darkgrey);
}

.filter-products-button:visited {
  color: var(--blackbrown);
  opacity: 99%;
  border: transparent;
}

.filter-products-button:hover {
  color: var(--darkgrey);
  opacity: 99%;
}

.filter-products-button:active {
  color: var(--blackbrown);
  opacity: 99%;
  border: transparent;
}

/*Products*/

.products {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
}

.products-item {
  padding: 0px;
  margin-right: 36px; 
  margin-bottom: 31px;
  background-color: var(--greyred);
  width: 360px;
  height: 617px;
  background-position: center;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.products-item:nth-last-child(2n+1) {
  margin-right: 0px;
}

/*Product-card*/

.product-card-sedona {
  cursor: pointer;
}

.product-card-sedona:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

/*Img-cap*/ 

.img-cap {
  background-color: var(--blacklight);
  opacity: 12%;
  width: 363px;
  height: 40px;
  margin-top: -15px;
  margin-left: -1px;
  border-radius: 5px 5px 0 0;
}

.circle-group {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 13px auto 13px 16px;
}

.img-cap-circle {
  z-index: 1;
  margin: 0px;
  color: var(--basic-white);
  opacity: 99%;
}

.product-img {
  border-radius: 0 0 5px 5px;
}

/*Product-info*/

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 231px;
  background-color: var(--lightgrey);
  margin-top: -237px;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 1;
}

.products-item-name {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0px;
}

.products-item-name:hover {
  color: var(--redpink);
}

.products-item-name:active {
  color: var(--basic-black);
  opacity: 30%;
}

.products-item-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
  text-align: center;
  width: 250px;
  margin: 12px 0 32px;
}

.products-item-button {
  width: 250px;
  margin: 0px;
  padding: 0px;
}

.products-item-button:active {
  color: rgba(255,255,255,1);
  opacity: 99%;
}

.card-img-sedona {
  position: relative;
}

.card-info {
  position: absolute;
  display: none;
}

.card-img-sedona:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.card-img-sedona:hover
.card-info {
  display: block;
}

.card-img-sedona:hover
.img-cap-sedona {
  background-color: rgba(77,77,77,1);
  opacity: 99%;
}

.product-card-sedona:hover
.img-cap-sedona {
  background-color: rgba(77,77,77,1);
  opacity: 99%;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.product-card-others:hover
.product-img {
  background-color: rgba(77,77,77,1);
  opacity: 99%;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.product-card-others:hover
.img-cap {
  background-color: rgba(77,77,77,1);
  opacity: 99%;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

/*Products-pages-button*/

.products-pages-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 45px 0px;
}

.pages-button {
  margin: 0px 11px 15px 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--lightgrey);
  border-radius: 3px;
  border: transparent;
  width: 50px;
  cursor: pointer;
}

.page-button-one {
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
}

.page-button-next {
  width: 260px;
}

.pages-button:visited {
  color: var(--basic-black);
  background-color: var(--lightgrey);
  border: 3px solid #DBDBDB;
}

.pages-button:hover {
  background-color: var(--lightgreybrown);
  border: transparent;
}

.pages-button:active {
  color: rgba(0,0,0,0.3);
  background-color: var(--darkgreybrown);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}