/*Font*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format(woff2),
       url(../fonts/roboto.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format(woff2),
       url(../fonts/robotomedium.woff) format(woff);
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format(woff2),
       url(../fonts/robotobold.woff) format(woff);
  font-weight: 700;
  font-style: bold;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --blackgreen: #283136;
  --darkgrey: #A6A6A6;
  --redpink: #FB565A;
  --blackgrey: #666666;
  --blackdarkgrey: #444444;
  --grey: #E1E1E1;
  --lightgrey: #EEEEEE;
  --blacklight: #4D4D4D;
  --blackbrown: #231F20;
  --red: #E74246;
  --reddark: #D7373B;
  --greenlight: #00CA74;
  --green: #00BC6C;
  --greendark: #00AA62;
  --orangelight: #EFC849;
  --ogange: #EAB534;
  --orangedark: #E5A722;
  --greymidle: #E1E1E1;
  --lightgreyblue: #D7DCDE;
  --darkgreyblue: #B4B8BB;
  --lightgreybrown: #DFDFDF;
  --darkgreybrown: #D5D5D5;
  --midlegreybrown: #DBDBDB;
  --greygrey: #C1C1C1;
  --lightgreygreenblue: #D7DCDF;
  --darkgreyred: #ABABAB;
}

/*Global*/

body {
  width: 1440px;
  margin: 0 auto;
  padding: 50px 140px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--blackgreen);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--redpink);
  text-transform: uppercase;
  border-radius: 3px;
  border: transparent;
  cursor: pointer;
}

.page {
  height: 100%;
}

/*Visually-hidden*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Header-navigation*/

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--lightgrey);
}

/*Header-navigation-logo*/

.header-navigation-logo {
  width: 160px;
  height: 65px;
  cursor: pointer;
}

/*Site-navigation*/

.site-navigation {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  margin-left: 45px;
}

/*Basket*/
.basket {
  display: flex;
}

.site-navigation-basket {
  margin-left: 25px;
}

/*Proposal*/

.proposal {
  width: 260px;
  margin-right: 141px;
  display: flex;
  flex-direction: column;
}

/*Proposal-text*/

.proposal-text {
  width: 400px;
  margin-right: 130px;
} 

/*Proposal-credo*/

.proposal-credo {
  grid-column: 1 / 2;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.proposal-button {
  background-color: var(--redpink);
  width: 240px;
  height: 50px;
  margin-top: 20px;
}

/*Proposal-foto*/

.proposal-foto {
  grid-column: 2 / -1;
  width: 760px;
  height: 431px;
}

/*Slide*/

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-list {
  padding-left: 0px;
}

.slider-item {
  display: flex;
  justify-content: flex-start;
}   

/*Slider-button*/

.slider-button {
  z-index: 1;
  display: flex;
  width: 88px;
  justify-content: space-between;
  background-color: transparent;
  margin-top: -130px;
  align-self: center;
}

/*Slide-button*/

.slide-button {
  padding: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slide-button-current {
  padding: 0px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px;
  border-radius: 50%;
  color: var(--greygrey); /*var(--green);*/ 
  position: absolute;
  top: 0px;
  left: 0px;
  /*order: 1;*/
}

/*Products-group*/

.products-group-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 80px 0px;
  padding: 0px;
  position: relative;
}

.products-group-item {
  display: flex;
  flex-direction: column;
}

.products-group-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 0px;
}

.products-group-item-img {
  order: -1;
}

.products-group-list::after {
  content: "";
  position: absolute;
  width: 1440px;
  height: 2px;
  background-color: var(--lightgrey);
  top: 350px;
}

/*Button-group*/

.button-group {
  width: 160px;
  height: 50px;
}

.button-applications {
  background-color: var(--greenlight);
}

.button-presentations {
  background-color: var(--orangelight);
}

/*About*/

.about {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.about-info {
  width: 651px;
}

.about-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-do {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.about-us-work {
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 37px 0px 31px;
}

.products-item {
  list-style-type: none;
  background: url(../img/line-item.jpg) no-repeat left center;
  margin-left: -40px;
  padding-left: 40px;
} /*Этот бэкграунд повторяется в каталоге перед карточкой продукта*/

/*Statistic*/

.statistic {
  display: flex;
  flex-direction: column;
  width: 360px;
}

/*About-table*/
.about-table {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;

}

.about-table-efficiency {
  grid-row: 1 / 2;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-table-text {
  grid-row: -1 / -2;
  margin: 0px;
}

/*Partners-list*/

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  margin: 80px 0px 160px;
  position: relative;
  cursor: pointer;
}

.partners-list::before {
  content: "";
  position: absolute;
  width: 1440px;
  height: 2px;
  background-color: var(--lightgrey);
  top: -50px;
  }

.partners-list::after {
  content: "";
  position: absolute;
  width: 1440px;
  height: 2px;
  background-color: var(--lightgrey);
  top: 150px;
}

/*Partners-item*/

.partners-item {
  position: relative;
}

.partners-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--lightgrey); /*var(--basic-black);*/
  left: -60px;
  top: 25px;
}

/*Footer*/

.footer-contacts {
  background-image: url(../img/map.jpg);
  width: 1440px;
  height: 416px;
  display: flex;
  margin: 0px;
  padding: 0px;
}

/*Footer-contacts*/

.footer-map {
  width: 220px;
  height: 210px;
  background-color: var(--basic-white);
  margin-top: 50px;
  margin-left: 140px;
  padding: 50px;
}

/*Footer-contacts-map-marker*/

.footer-contacts-map-marker {
  margin-top: 85px;
  margin-left: 360px;
}

/*Footer-contacts*/

.footer-contacts-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
}

.footer-contacts-button {
  background-color: var(--redpink);
  margin-top: 30px;
  width: 219px;
  height: 50px;
}

/*Footer-social*/

.footer-social {
 display: flex;
 flex-wrap: wrap;
 justify-content: start;
 align-items: center;
 height: min-content;
}

.footer-social-icon {
  width: 270px;
  align-items: center;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
  margin: 40px 10px;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--grey);
}

.footer-post {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.footer-discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--blackdarkgrey);
}

/*Modal*/

.modal {
  width: 960px;
  height: 590px;
  padding: 65px 100px 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  background: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  width: 960px;
  height: 590px;
  left: 240px;
  bottom: 180px;
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-error {
  animation: shake;
}

.modal-letter {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-close {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  border: transparent;
  background-color: transparent;
}

.modal-info {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
  row-gap: 20px;
}

.modal-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-email {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.modal-email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.modal-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal-info-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-info-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackdarkgrey);
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 10px;
  padding: 15px;
}

.modal-info-text-letter {
  height: 108px;
}

.modal-button {
  grid-row: -1 / -2;
  background-color: var(--redpink);
  width: 250px;
  height: 50px;
  margin-top: 47px;
}

/*Modal-Animation*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*Page-catalog*/

.page-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
}

/*Header-pagename*/

.header-pagename {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--lightgrey);
}
  
/*Our-products*/

.our-products {
  width: 260px;
  margin-right: 141px;
  display: flex;
  flex-direction: column;
}

.filter-type-cost {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-bottom: 142px;
  margin-top: 25px;
}

/*Range-cost*/

.range-cost {
  width: 260px;
  margin-top: 49px;
  border-radius: 3px;
  position: relative;
  left: 140px;
  top: 488px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
}

.range-controls {
 height: 41px;
 border-radius: 3px;
 background-color: var(--lightgrey);
 margin-bottom: 14px;
 padding-top: 39px;
 padding-right: 20px;
 padding-left: 20px;
 position: relative;
}

.range-controls .csale {
  width: 216px;
  height: 2px;
  background-color: var(--lightgreygreenblue);
  /*position: absolute;
  left: 173px;
  top: 527px;*/
}

.range-cost .bar {
  width: 70%;
  height: 2px;
  background-color: var(--greenlight);
  /*position: absolute;
  left: 173px;
  top: 527px;*/
}

.range-cost .toggle {
  width: 4px;
  height: 4px;
  padding: 0px;
  background-color: var(--darkgreyred);
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 30px;
  left: 0px;
  cursor: pointer;
}

.range-cost .toggle-min {
  left: 18px;
}

.range-cost .toggle-max {
  left: 160px;
}

.filter-type-price,
.filter-type-grid,
.filter-type-design,
.filter-button {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-type-sort {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/*Our-products-filter*/

.our-products-filter {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

/*Filter*/

.filter {
  border: none;
  /*margin: 0px;
  padding: 0px;
  width: 260px;
  margin-bottom: 47px;*/
}

.filter-cost {
  list-style-type: none;
  border: none;
  display: flex;
  flex-direction: column;
}

.filter-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter fieldset:first-child {
  margin-bottom: 18px;
}

.filter-type-price {
  display: flex;
  justify-content: space-between;
}

.filter-type-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--blackgreen);
  /*width: 260px;
  height: 38px;
  margin-bottom: 53px;*/
}

.filter-type-price input {
  font-size: inherit;
  font-family: inherit;
  width: 80px;
  height: 38px;
  margin-left: 11px;
  text-align: center;
  color: inherit;
  border: none;
  border-radius: 3px;
  background-color: var(--lightgrey);
}

.filter-type-item {
  list-style-type: none;
  margin-bottom: 18px;
  margin-left: 5px;
}

.filter-type-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*Ffilter-input-radio*/

.filter-input-radio +label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -41px;
  width: 25px;
  height: 25px;
  border: 4px solid #4D4D4D;
  border-radius: 50%;
}

.filter-input-radio:checked +label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  width: 12px;
  height: 12px;
  background-color: var(--blacklight);
  border-radius: 50%;
}

/*Filter-input-checkbox*/

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -41px;
  width: 23px;
  height: 23px;
  border: 2px solid #4D4D4D;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -37px;
  width: 21px;
  height: 17px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Filter-button*/

.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--lightgrey);
  width: 260px;
  height: 50px;
  margin-top: 3px;
}

/*Filter-products-sort*/

.filter-products-sort {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.filter-products-sort-group{
  display: flex;
  flex-wrap: wrap;
}

.filter-products-sort-list {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-products-sort-item {
  margin-left: 25px;
  align-items: center;
} /*Здесь повторяется background с главной страницы*/

/*Filter-products-sort-button*/

.filter-products-sort-button {
  margin-left: 47px;
  display: flex;
  align-items: center;
}

.filter-products-button {
  background-color: transparent;
}

.button-big {
  color: var(--blackbrown)
}

.button-small {
  color: var(--darkgrey)
}

/*Products*/

.products {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
}

/*.products-item {
  padding: 0px;
  margin-right: 41px;
  margin: 40px;
  margin-bottom: 31px;
  background-color: var(--blacklight);
  width: 362px;
  height: 582px;
  background-position: center;
}*/

.products-item-name {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.products-item-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
  text-align: center;
  background-color: var(--blacklight);
}

/*Products-pages-button*/

.products-pages-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 45px;
  margin-bottom: 60px;
}

.pages-button {
  margin-right: 11px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--lightgrey);
  border-radius: 3px;
  border: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.page-button-one {
  background-color: var(--basic-white);
  border: 3px solid #DBDBDB;
}

.page-button-next {
  width: 260px;
}
