/*Font*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format(woff2),
       url(../fonts/roboto.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format(woff2),
       url(../fonts/robotomedium.woff) format(woff);
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format(woff2),
       url(../fonts/robotobold.woff) format(woff);
  font-weight: 700;
  font-style: bold;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --blackgreen: #283136;
  --darkgrey: #A6A6A6;
  --redpink: #FB565A;
  --blackgrey: #666666;
  --blackdarkgrey: #444444;
  --grey: #E1E1E1;
  --lightgrey: #EEEEEE;
  --blacklight: #4D4D4D;
  --blackbrown: #231F20;
  --red: #E74246;
  --reddark: #D7373B;
  --greenlight: #00CA74;
  --green: #00BC6C;
  --greendark: #00AA62;
  --orangelight: #EFC84A;
  --ogange: #EAB534;
  --orangedark: #E5A722;
  --greymidle: #E1E1E1;
  --lightgreyblue: #D7DCDE;
  --darkgreyblue: #B4B8BB;
  --lightgreybrown: #DFDFDF;
  --darkgreybrown: #D5D5D5;
  --midlegreybrown: #DBDBDB;
  --greygrey: #C1C1C1;
  --lightgreygreenblue: #D7DCDF;
  --darkgreyred: #ABABAB;
}

/*Global*/

body {
  min-width: 1440px;
  margin: 75px;
  padding: 140px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--blackgreen);
  background-color: var(--basic-white);

  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 3px;
}

/*Grid*/

.page {
  height: 100%;
}

/*Header-navigation*/
/*Flex*/

.header-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--lightgrey);
  text-transform: uppercase;
}

/*Header-navigation-logo*/

.header-navigation-logo {
  width: 160px;
  height: 65px;
}

/*Proposal*/

.proposal {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 431px;
  background-color: var(--lightgrey);
}

/*Proposal-credo*/

.proposal-credo {
  grid-column: 1 / 2;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/*Proposal-foto*/

.proposal-foto {
  grid-column: 2 / -1;
  min-width: 760px;
  min-height: 431px;
}

/*Slide*/

.slide {
  display: none;
}

.slide-current {
  display: block;
}

/*Slider-button*/

.slider-button {
  position: absolute;
  top: 676px;
  left: 431px;
  z-index: 1;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

/*Slider-button button*/
.slider-button button {
  padding: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-button .current {
  padding: 0px
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px;
  border-radius: 50%
  color: var(--greygrey);
  position: absolute;
  top: 436px;
  left: 681px;
}

/*Products*/

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*About*/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
}

.about-us {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-us-do {
  grid-area: 1 / 2 / 3 / 2;
  font-weight: 700;
  text-transform: uppercase;
}

.product-list {
  grid-area: 1 / 3 / 3 / 4;
}

.about-logo {
  grid-area: 3 / 1 / 4 / 2;
}

.about-us-work {
  grid-area: 3 / 2 / 4 / 3;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*About-table*/

.about-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about-table-efficiency {
  grid-row: 1 / 2;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-table-text {
  grid-row: -1 / -2;
}

/*Partners-list*/

.partners-list {
  display: flex;
  justify-content: space-around;
  width: 210px;
  height: 90px;
}

/*Footer*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

/*Footer-contacts-map*/

.footer-contacts-map {
  grid-row: 1 / -1;
  margin: 0;
  padding: 0;
}

/*Footer-contacts-marker*/

.footer-contacts-marker {
  grid-area: 2 / 1 / -1 / 2;
  justify-self: center;
}

/*Footer-contacts*/

.footer-contacts-name {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer-contacts-info {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
}

.footer-contacts-button {
  grid-area: 1 / 1 / 2 / 2;
}

/*Footer-social*/

.footer-social-item {
  grid-area: 1 / 2 / 2 / 3;
}

.footer-post {
  grid-area: 2 / 2 / -1 / -1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.footer-discount {
  grid-area: 2 / 2 / -1 / -1;
  font-size: 16px;
  line-height: 22px;
  color: var(--blackdarkgrey);
}

/*Modal*/

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
}

.modal-close {
  grid-area: -1 / 1 / -2 / 2;
  justify-self: end;
}

.modal-letter {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-name {
  grid-area: 1 / 2 / 2 / 3;
}

.modal-email {
  grid-area: 2 / 2 / -1 / 3;
}

.modal-text {
  grid-row: 3 / 4;
}

.modal-info-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.modal-info-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackdarkgrey);
}

.modal-button {
  grid-row: -1 / -2;
}

/*Page-catalog*/

.page-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/*Header-pagename*/

.header-pagename {
  grid-row: 1 /2;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--lightgrey);
}
  
  /*Proposal*/

.filter-type-cost {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-bottom: 142px;
}

.filter-type-price,
.filter-type-grid,
.filter-type-design,
.filter-button {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filter-type-sort {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.filter-products-sort,
.button-big,
.button-small {
  grid-row: 2 / 3;
  grid-column: -1 / -2;
}

.filter-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-type-price {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--lightgrey);
  display: flex;
  width: 260px;
  height: 38px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--lightgrey);
}

.filter-products-sort {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.button-big {
  color: var(--blackbrown)
}

.button-small {
  color: var(--darkgrey)
}

/*Range-cost*/

.range-cost {
  width: 260px;
  height: 80px;
  border-radius: 3px;
  background-color: var(--lightgrey);
  position: relative;
  left: 140px;
  top: 488px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 22px;
  padding-left: 22px;
}

.range-cost .csale {
  width: 216px;
  height: 2px;
  background-color: var(--lightgreygreenblue);
  position: absolute;
  left: 173px;
  top: 527px;
}

.range-cost .bar {
  width: 70%;
  height: 2px;
  background-color: var(--greenlight);
  position: absolute;
  left: 173px;
  top: 527px;
}

.range-cost .toggle {
  width: 4px;
  height: 4px;
  padding: 0px;
  background-color: var(--darkgreyred);
  border: 8px var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 30px;
  left: 0px;
  cursor: pointer;
}

.range-cost .toggle-min {
  left: 18px;
}

.range-cost .toggle-max {
  left: 160px;
}

/*Products*/

.products-item {
  grid-area: 3 / 2 / -2 / -1;
}

.producks-pages-item {
  grid-row: -1 / -2;
  grid-column: 2 / -1;
}

.products-item-name {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.products-item-info {
  font-size: 16px;
  line-height: 18px;
  color: var(--blackgrey);
  text-align: center;
  background-color: var(--blacklight);
}

/*Flex*/

.producks-pages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-right: 11px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--lightgrey);
}